
/*PRIMERA SECCION*/
body{
    background-color: #574181;
    width: 100%;
    height: 100%;
}

.navbar {
    color: white;
    min-height: 90px;
}


.estilo-x {
   font-size: 1.2em;
   text-align: center;
}
#texto:before{
    content: "Melanie Alexia Impróvola Carballo";
  }
  
  @media (max-width:991px) and (min-width:450px) {
      #texto:before {
          content: "IMPROVOLA";
          font-size: 1.5em ;
      }
  }
  
  @media (max-width:500px){
      #texto:before {
          content: "IMP";
          font-size: 1em;
      }
  }

img.green {
    max-width: 100%;
    height: 100%;
}


.imp {
    background-color: #DED1F7;
    padding: 3rem;
    background-size: cover;
}
.imp h1{
    color: #644C92;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 4.5vw;
}
.imp p{
    color: black;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.artb {
 opacity:0.8;
 filter:alpha(opacity=40); /* For IE8 and earlier */
}

.banner {
    background-size: cover;

}

.text {
    font-size: 1.2em;
    text-align: center;
    text-justify:inter-word;
}

/*FIN PRIMERA SECCION*/


/*SEGUNDA SECCION*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1566 {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 40%;
  max-width: 190px;
  width: 100%;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  float: center;
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
  text-align: center;
}

.snip1566 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
  float: center;
  text-align: center;
}

.snip1566 figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  float: center;
}

.snip1566 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.snip1566 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
  border-width: 10px;
}

.snip1566:hover:before,
.snip1566.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.snip1566:hover:after,
.snip1566.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



.etica {
    background-color: white;
    padding: 3rem;
}

.etica h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.etica p{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}
/*FIN SEGUNDA SECCION*/


/*TERCERA SECCION*/
.bg3{
    background-color: #A483D6;
    padding: 3rem;
    justify-content: center;
}

.bg3 h1{
    color: #211534;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.bg3 p{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.sombra:hover {
    filter: opacity(.5);
}
/*FIN TERCERA SECCION*/


/*FOOTER*/
footer {
    background-color: black;
    padding: 2px;
    color: grey;
    text-align: center;
}
/*FIN FOOTER*/

/*ACTIVISMO*/
.activismo {
    background-color: #edf7d1;
    padding: 3rem;
}
.activismo h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.activismo p{
    color: black;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.card {
    background-color: #574181;
    margin-left: 3px;
    margin-right: 3px;
}
.articulos {

    padding: 3rem;
}

.articulos h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.articulos p{
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.Campaña {
    background-color: #edf7d1;
    padding: 3rem;
    justify-content: center;
}

.Campaña h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    font-size: 8vw;
}

.Campaña p{
    text-align: center;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

.Campaña a{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}


img .Campaña {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hashtag a{
    text-align: center;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

.bultimo p {
    text-align: center;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

.bultimo a{
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

/*FIN DE ACTIVISMO*/

/*COMIDAS*/
/*FOTO NUMERO 1*/
img .comidas{
    max-width: 100%;
    height: 100vw;
}
/*SECCION RECETAS*/
    .rece{
        background-color: #DED1F7;
        padding: 3rem;
    }

    .rece h1{
        color: #644C92;
        text-align: center;
        font-family: 'Fredoka One', cursive;
    }
    .rece p{
        color: black;
        text-align: center;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
    }

.card-group h5{
    color: white;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.card-group h2{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.card-group p {
    color: black;
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;   
}
/*FIN RECETAS*/
/*SEPARADOR*/
img .hojas{
    max-width: 100%;
    height: 100vw;
}
/*SECCION VIDEOS*/
    .video {
        background-color:#8769D3;
        padding: 3rem;
    }
    .video h1{
        color: #C5B4F1;
        text-align: center;
        font-family: 'Fredoka One', cursive;
    }
    .video p{
        color: black;
        text-align: center;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
    }
    
    /*FIN VIDEOS*/

    /*RECURSOS*/
    /*ACTIVISMO*/
.documentales {
    background-color: #edf7d1;
    padding: 3rem;
}
.documentales h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    font-size: 8vw;
}
.documentales p{
    color: black;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/*  LIBROS */
.libro{
    background-color: #edf7d1;
    padding: 3rem;
    justify-content: center;
}

.libro h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}

.libro p{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}


/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
    position: relative;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 20px;
    height: 30px;
    border: 1px;
    top: calc(100% - 40px);
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    opacity: 0%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
    opacity: 1%;
}

.carousel__anterior {
    left: 30px;
}

.carousel__siguiente {
    right: 2px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__elemento {
    text-align: center;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 50px;
    height: 10px;
    background:green;
    opacity: .5;
    border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 10;
}
/* --- --- FIN CAROUSEL --- --- */

/*--ENCABEZADOS LARGOS--*/
.encabezado {
    font-size: 8vw;}

.encabezado1 {
    font-size: 3vw;}
.encabezado1 h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}

.contacto1 {
    background-size: 100vw 100vh;
    margin:10px;
}

form{
    width:500px;
    margin:0;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 7px
    font-size:5em;

}
@media (max-width:550px) {
    form {
        width: 100%
    }

.imagen-icon {
    max-width: 100%;
    max-height:100%;
}

 @media (max-width:275px) {
    .imagen-icon {
        width: 100%;
        height:100%;
        }

